<% content_for :title, "Editar cliente" %>
<div class="container text-center">
<h1>Editar cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Mostrar cliente", @cliente %> |
  <%= link_to "Regresar clientes", clientes_path %>
</div>
</div>
