<%= stylesheet_link_tag 'cyp', media: 'all' %>
<% content_for :title, "Editing detalle de pedido" %>

<h1>Editing detalle de pedido</h1>

<%= render "form", detalle_de_pedido: @detalle_de_pedido %>

<br>

<div>
  <%= link_to "Show this detalle de pedido", @detalle_de_pedido %> |
  <%= link_to "Back to detalle de pedidos", detalle_de_pedidos_path %>
</div>
