<%= stylesheet_link_tag 'dpyp', media: 'all' %>
<h1>Lista de Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th> <!-- Agrega otros campos relevantes aquí -->
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.id %></td>
        <td><%= pedido.created_at %></td> <!-- Muestra la fecha de creación -->
        <td>
          <%= link_to 'Ver Detalles', detalle_de_pedido_path(pedido) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
