<p style="color: green"><%= notice %></p>

<% content_for :title, "Detalle de pedidos" %>

<h1>Detalle de pedidos</h1>

<div id="detalle_de_pedidos">
  <% @detalle_de_pedidos.each do |detalle_de_pedido| %>
    <%= render detalle_de_pedido %>
    <p>
      <%= link_to "Show this detalle de pedido", detalle_de_pedido %>
    </p>
  <% end %>
</div>

<%= link_to "New detalle de pedido", new_detalle_de_pedido_path %>
