<% content_for :title, "New detalle de pedido" %>

<h1>New detalle de pedido</h1>

<%= render "form", detalle_de_pedido: @detalle_de_pedido %>

<br>

<div>
  <%= link_to "Back to detalle de pedidos", detalle_de_pedidos_path %>
</div>
