/* Mensajes de notificación */
.notice {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.2em; 
}

/* Encabezados */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos de lista */
#usuarios-lista,
#categoria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.usuario-card {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
    width: calc(33% - 10px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.usuario-detalle {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
}

.usuario-actions {
    margin-top: 30px; 
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}

.actions {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

/* Botones */
.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
}

.btn-new { background-color: #28a745; }
.btn-view { background-color: #6c757d; }
.btn-back { background-color: #007bff; }
.btn-edit { background-color: #9fb728; }
.btn-delete {
    background-color: #dc3545;
    margin-top: 40px !important;
}

/* Contenedor principal del formulario */
.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: #d6b2f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 1.8em;
    color: #343a40;
    margin-bottom: 15px;
}

/* Estilos de los campos de entrada */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1em;
}

/* Estilo de los botones del formulario */
.form-container input[type="submit"],
.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.form-container input[type="submit"]:hover,
.form-container button:hover {
    background-color: #0056b3;
}
